<div id="main-content" class="container">
  <div id="carousel-pictures" class="carousel slide shadow mb-6 rounded" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-pictures" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-pictures" data-slide-to="1"></li>
      <li data-target="#carousel-pictures" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag('project-page.png', alt: 'First slide', class: 'd-block w-100') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('upcoming-page.png', alt: 'Second slide', class: 'd-block w-100') %>
      </div>
      <div class="carousel-item">
        <%= image_tag('task-edit-window.png', alt: 'Third slide', class: 'd-block w-100') %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-pictures" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-pictures" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="download-cards" class="row">
    <div class="col-sm-6">
      <div class="download-card card">
        <%= image_tag('Windows_10_logo.png', alt: 'Windows', class: 'card-img-top d-none d-lg-block') %>
        <div class="card-body">
          <h4 class="card-title">For Windows</h4>
          <p class="card-text">
            You need to unpack downloaded .zip file and launch 'setup' file to install application.
          </p>
          <%= link_to('download', class: 'btn btn-primary') do %>
            Download
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="download-card card">
        <%= image_tag('telegram-logo.png', alt: 'Telegram-bot', class: 'card-img-top d-none d-lg-block') %>
        <div class="card-body">
          <h4 class="card-title">Telegram-bot</h4>
          <p class="card-text">
            To use a bot you need to register an account in the application using 'TO-DO Task Manager'.
          </p>
          <a href="https://t.me/todotaskmanagerbot" target="_blank" class="btn btn-primary">Start using</a>
        </div>
      </div>
    </div>
  </div>
</div>